[Desktop Entry]
Version=1.0
Name=Gnomium-Maps
GenericName=Maps
Comment=Gnomium Google Maps Webapp
Exec=chromium-browser --app=https://maps.google.com
Terminal=false
Icon=maps
Type=Application
Categories=Office;
